<footer class="footer">
	<div
		class="d-sm-flex justify-content-center justify-content-sm-between">
		<span
			class="text-muted d-block text-center text-sm-left d-sm-inline-block">&copy;
			2026 CodeVerse | All Rights Reserved | Designed with &#10084; by
			CodeVerse Team</span> 
			
		<span
			class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
			<a
			href="https://www.bootstrapdash.com/bootstrap-admin-template/"
			target="_blank"></a>
		</span>
	</div>
</footer>

<!-- plugins:js -->
<script th:src="@{/assets/vendors/js/vendor.bundle.base.js}"></script>

<!-- Plugin js for this page -->
<script th:src="@{/assets/vendors/chart.js/Chart.min.js}"></script>
<script th:src="@{/assets/vendors/progressbar.js/progressbar.min.js}"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
<script th:src="@{/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/assets/vendors/owl-carousel-2/owl.carousel.min.js}"></script>

<!-- inject:js -->
<script th:src="@{/assets/js/off-canvas.js}"></script>
<script th:src="@{/assets/js/hoverable-collapse.js}"></script>
<script th:src="@{/assets/js/misc.js}"></script>
<script th:src="@{/assets/js/settings.js}"></script>
<script th:src="@{/assets/js/todolist.js}"></script>

<!-- Custom js for this page -->
<script th:src="@{/assets/js/dashboard.js}"></script>