<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Codverse Admin</title>

<!-- plugins:css -->
<link rel="stylesheet" th:href="@{/assets/vendors/mdi/css/materialdesignicons.min.css}" />
<link rel="stylesheet" th:href="@{/assets/vendors/css/vendor.bundle.base.css}" />

<!-- Plugin css for this page -->
<link rel="stylesheet" th:href="@{/assets/vendors/jvectormap/jquery-jvectormap.css}" />
<link rel="stylesheet" th:href="@{/assets/vendors/flag-icon-css/css/flag-icon.min.css}" />
<link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.carousel.min.css}" />
<link rel="stylesheet" th:href="@{/assets/vendors/owl-carousel-2/owl.theme.default.min.css}" />

<!-- Layout styles -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}" />